@charset "UTF-8";
.container { min-height: 100vh; padding: 120px 0 0; }

.container__inner { max-width: 1200px; margin: 0 auto; }

.container__title { position: relative; margin: 0 0 100px; font-size: 50px; text-align: center; }

.container__title::after { display: block; position: absolute; left: 50%; bottom: -15px; content: ''; width: 120px; border-bottom: 1px solid #000000; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

*:not(input) { -webkit-touch-callout: none; -webkit-user-select: none; }

* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

*::-webkit-scrollbar { display: none; }

html, body { -webkit-overflow-scrolling: touch !important; font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '돋옴', Dotum, sans-serif; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

input { outline: none; border: none; font: inherit; }

ul { padding: 0; margin: 0; }

li { list-style: none; }

button { cursor: pointer; border: none; outline: none; padding: 0; background: none; }

a { color: inherit; cursor: pointer; text-decoration: none; }

.header-list { position: fixed; top: 0; left: 0; right: 0; z-index: 10; width: 100%; padding: 20px 0; background: #ffffff; text-align: center; -webkit-box-shadow: 0px 1px 4px 0px grey; box-shadow: 0px 1px 4px 0px grey; }

.header-list::after { display: block; content: ''; clear: both; }

.header-list__list { float: left; width: 80%; }

.header-list__reference { float: left; position: relative; width: 20%; }

.header-list__reference::before { display: inline-block; position: absolute; top: 0; left: 0; bottom: 0; content: ''; border-left: 1px solid #000; }

.header-item { float: left; width: 25%; }

.header-item__name:hover { border-bottom: 2px solid; }

.project-controls { max-width: 600px; margin: 0 auto 30px; font-size: 0; text-align: center; }

.project-controls::after { display: block; content: ''; clear: both; }

.project-controls__item { display: inline-block; width: 20%; border: 1px solid; font-size: 16px; text-align: center; cursor: pointer; }

.project-controls__item + .project-controls__item { margin: 0 0 0 10px; }

.project-list { font-size: 0; text-align: left; }

.project-list::after { display: block; content: ''; clear: both; }

.project-list__wrap { display: inline-block; position: relative; width: calc((100% / 3) - 20px); height: 320px; margin: 10px; border: 1px solid #000; font-size: 16px; cursor: pointer; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }

.project-list__wrap:hover { background-color: rgba(0, 0, 0, 0.6); }

.project-item__title { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#skill { background: #fafafa; }

.skill-list { width: 100%; border: 1px solid red; font-size: 0; text-align: justify; }

.skill-list::after { display: inline-block; width: 100%; content: ''; }

.skill-list__wrap { display: inline-block; position: relative; width: 300px; height: 300px; padding: 20px; border: 1px solid; font-size: 16px; text-align: center; }

.skill-list__title { padding: 0 0 20px; }

.skill-list__description { position: absolute; top: 20px; right: 20px; width: 20px; height: 20px; }

.skill-list__description:hover .description-wrap { visibility: visible; opacity: 1; }

.skill-data__wrap { text-align: left; }

.skill-data__item { padding: 5px 0; }

.skill-data__item + .skill-data__item { border-top: 1px solid #000; }

.description-wrap { visibility: hidden; position: absolute; top: 30px; left: -10px; max-width: 200px; padding: 5px 10px; border-radius: 5px; background: red; text-align: left; opacity: 0; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.description-wrap::after { position: absolute; top: -20px; left: 10px; content: ''; border-top: 10px solid transparent; border-right: 10px solid transparent; border-left: 10px solid transparent; border-bottom: 10px solid red; }

.description-wrap__contents { margin: 0; }

#about > .container__inner::after { display: block; content: ''; clear: both; }

.about-intro { float: left; width: 30%; text-align: center; }

.about-intro__txt { margin: 1em 1em 1em 0; font-size: 42px; line-height: 1.5; }

.about-intro__icon { width: 50px; height: 50px; }

.about-list { float: left; width: 70%; margin: 0 auto; }

.about-item { position: relative; padding: 0 0 0 10px; }

.about-item::before { position: absolute; top: 6px; left: 0; content: ''; width: 6px; height: 6px; border-radius: 5px; background: #666; }

.about-item + .about-item { margin: 30px 0 0; }

.about-item__title { font-weight: bold; margin: 0 0 8px; }

.about-item__content { word-break: break-all; }

.layer__background { display: none; overflow-y: auto; position: fixed; top: 0; left: 0; z-index: 100; width: 100vw; height: 100vh; }

.layer__wrap { display: none; position: absolute; top: 50%; left: 50%; z-index: 110; max-width: 700px; width: 90%; background: #ffffff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.layer-slide { position: relative; }

.layer-slide__item { max-height: 400px; }

.layer-slide__item img { width: 100%; max-height: inherit; height: 100%; }

.layer-arrow__wrap { position: absolute; bottom: 0; z-index: 10; width: 100%; font-size: 0; text-align: justify; }

.layer-arrow__wrap::after { display: inline-block; width: 100%; content: ''; }

.layer-arrow__item { display: inline-block; width: 53px; height: 53px; padding: 15px; background: rgba(0, 0, 0, 0.6); cursor: pointer; }

.layer-description { padding: 35px 25px 120px; border-top: 3px solid #1b242f; color: #444444; }

.layer-description__title { padding: 0 0 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); font-size: 29px; line-height: 29px; }

.layer-description__content { padding: 15px 0 0; line-height: 24px; }

.layer-close { position: absolute; bottom: 10px; left: 25px; right: 25px; }

.layer-close::after { display: block; content: ''; clear: both; }

.layer-close__button { float: left; padding: 11px 30px; background: #001b6c; color: #ffffff; }

.layer-close__button + .layer-close__button { margin: 0 0 0 10px; }

.curtain { position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

#home { width: 100%; margin: 0; background-image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center center; }
