@charset "UTF-8";
.container { z-index: 2; min-height: 100vh; padding: 120px 0 60px; }

.container:nth-child(3), .container:nth-child(4), .container:nth-child(6) { min-height: 50vh; }

.container__inner { max-width: 1200px; margin: 0 auto; }

.container__title { position: relative; margin: 0 0 100px; font-size: 50px; text-align: center; }

.container__title::after { display: block; position: absolute; left: 50%; bottom: -15px; content: ''; width: 120px; border-bottom: 1px solid #000000; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

p { margin: 0; }

.pc { display: block !important; }

.mobile { display: none !important; }

.space { position: fixed; left: 0; right: 0; top: 0; z-index: 0; width: 100px; height: 100px; border-radius: 50%; opacity: 0.5; }

.spacer1 { background: url("../../img/etc/circle-01.png") no-repeat center center; }

.spacer2 { background: url("../../img/etc/circle-02.png") no-repeat center center; }

.spacer3 { background: url("../../img/etc/circle-03.png") no-repeat center center; }

.spacer4 { background: url("../../img/etc/circle-04.png") no-repeat center center; }

.spacer5 { background: url("../../img/etc/circle-05.png") no-repeat center center; }

@media only screen and (max-width: 1200px) { .container__inner { padding: 0 16px; } }

@media only screen and (max-width: 767px) { .pc { display: none !important; }
  .mobile { display: block !important; }
  .container { padding: 80px 0 60px; }
  .container__title { margin: 0 0 50px; } }

*:not(input) { -webkit-touch-callout: none; -webkit-user-select: none; }

* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

*::-webkit-scrollbar { display: none; }

html, body { -webkit-overflow-scrolling: touch !important; font-family: 'Noto Sans Korean', 'Apple SD Gothic Neo', 'Nanum Barun Gothic', 'Malgun Gothic', '돋옴', Dotum, sans-serif; }

html { -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

input { outline: none; border: none; font: inherit; }

ul { padding: 0; margin: 0; }

li { list-style: none; }

button { cursor: pointer; border: none; outline: none; padding: 0; background: none; }

a { color: inherit; cursor: pointer; text-decoration: none; }

.header-list { position: fixed; top: 0; left: 0; right: 0; z-index: 10; width: 100%; padding: 20px 0; background: #ffffff; text-align: center; -webkit-box-shadow: 0px 1px 4px 0px grey; box-shadow: 0px 1px 4px 0px grey; }

.header-list::after { display: block; content: ''; clear: both; }

.header-list__list { float: left; width: 100%; }

.header-item { float: left; width: 20%; }

.header-item a.pc { display: inline-block !important; }

.header-item__name:hover { border-bottom: 2px solid; }

.header-item img { width: 20px; height: 20px; }

@media only screen and (max-width: 767px) { .header-item a.pc { display: none !important; }
  .header-item a.mobile { display: inline-block !important; } }

.project-controls { max-width: 600px; margin: 0 auto 30px; font-size: 0; text-align: center; }

.project-controls::after { display: block; content: ''; clear: both; }

.project-controls__item { display: inline-block; width: 20%; padding: 5px 0; border: 1px solid; font-size: 16px; text-align: center; cursor: pointer; }

.project-controls__item + .project-controls__item { margin: 0 0 0 10px; }

.project-list { font-size: 0; text-align: left; }

.project-list::after { display: block; content: ''; clear: both; }

.project-list__wrap { display: inline-block; position: relative; width: calc((100% / 3) - 20px); height: 320px; margin: 10px; font-size: 16px; cursor: pointer; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; background-color: #000000; }

.project-list__wrap:hover { background-color: rgba(0, 0, 0, 0.6); }

.project-item__background { width: 100%; height: 100%; opacity: 0.5; }

.project-item__title { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 90%; font-size: 30px; color: #ffffff; text-align: center; }

@media only screen and (max-width: 1200px) { .project-list__wrap { width: calc((100% / 2) - 20px); } }

@media only screen and (max-width: 767px) { .project-controls__item { width: calc(50% - 10px); }
  .project-controls__item + .project-controls__item { margin: 0 0 10px 10px; }
  .project-controls__item:nth-child(3) { margin: 0 0 10px 0; }
  .project-list__wrap { width: calc(100% - 20px); } }

@media only screen and (max-width: 360px) { .project-list__wrap { height: 260px; } }

#skill { background: #fafafa; }

.skill-list { width: 100%; font-size: 0; text-align: justify; }

.skill-list::after { display: inline-block; width: 100%; content: ''; }

.skill-list__wrap { display: inline-block; vertical-align: middle; position: relative; width: 240px; height: 440px; padding: 20px; font-size: 16px; text-align: center; background: #ffffff; -webkit-box-shadow: 4px 4px 10px -8px; box-shadow: 4px 4px 10px -8px; }

.skill-list__title { padding: 0 0 20px; }

.skill-list__description { position: absolute; top: 20px; right: 20px; width: 20px; height: 20px; }

.skill-list__description:hover + .description-wrap { visibility: visible; opacity: 1; }

.skill-data__wrap { text-align: left; }

.skill-data__item { padding: 10px 0; }

.skill-data__item + .skill-data__item { border-top: 1px solid #e0e0e0; }

.skill-data__item > img { vertical-align: sub; }

.description-wrap { visibility: hidden; position: absolute; top: 51px; right: 10px; z-index: 10; max-width: 200px; padding: 5px 10px; border-radius: 5px; background: rgba(0, 0, 0, 0.6); color: #ffffff; text-align: left; opacity: 0; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }

.description-wrap::after { position: absolute; top: -20px; right: 10px; content: ''; border-top: 10px solid transparent; border-right: 10px solid transparent; border-left: 10px solid transparent; border-bottom: 10px solid rgba(0, 0, 0, 0.6); }

@media only screen and (max-width: 767px) { .skill-list__wrap { width: 100%; }
  .skill-list__wrap + .skill-list__wrap { margin: 10px 0 0; } }

#about > .container__inner::after { display: block; content: ''; clear: both; }

.about-intro { float: left; width: 30%; text-align: center; }

.about-intro__txt { margin: 0 1em 1em 0; font-size: 42px; line-height: 1.5; }

.about-intro__icon { width: 50px; height: 50px; }

.about-list { float: left; width: 70%; margin: 0 auto; }

.about-item { position: relative; padding: 0 0 0 25px; }

.about-item::before { position: absolute; top: 1px; left: 0; content: ''; width: 20px; height: 20px; border-radius: 5px; background: url("../../img/etc/checkmark.svg") no-repeat center center; background-size: cover; }

.about-item + .about-item { margin: 30px 0 0; }

.about-item__title { font-weight: bold; margin: 0 0 8px; }

.about-item__content { word-break: break-all; }

@media only screen and (max-width: 1200px) { .about-intro__txt { margin: 0 1em 1em 0; font-size: 30px; line-height: 1.5; }
  .about-intro__icon { width: 40px; height: 40px; } }

@media only screen and (max-width: 767px) { .about-intro { float: none; width: 100%; }
  .about-intro__txt { margin: 0 0 1em; }
  .about-list { float: none; width: 100%; } }

.layer__background { display: none; overflow-y: auto; position: fixed; top: 0; left: 0; z-index: 100; width: 100vw; height: 100vh; }

.layer__wrap { display: none; position: absolute; top: 50%; left: 50%; z-index: 110; max-width: 700px; width: 90%; background: #ffffff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.layer-slide { position: relative; }

.layer-slide__item { max-height: 400px; }

.layer-slide__item img { width: 100%; max-height: inherit; height: 100%; }

.layer-arrow__wrap { position: absolute; bottom: 0; z-index: 10; width: 100%; font-size: 0; text-align: justify; }

.layer-arrow__wrap::after { display: inline-block; width: 100%; content: ''; }

.layer-arrow__item { display: inline-block; width: 53px; height: 53px; padding: 15px; background: rgba(0, 0, 0, 0.6); cursor: pointer; }

.layer-description { padding: 35px 25px 120px; border-top: 3px solid #1b242f; color: #444444; }

.layer-description__title { padding: 0 0 15px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); font-size: 29px; line-height: 29px; }

.layer-description__content { padding: 15px 0 0; line-height: 24px; }

.layer-close { position: absolute; bottom: 10px; left: 25px; right: 25px; }

.layer-close::after { display: block; content: ''; clear: both; }

.layer-close__button { float: left; padding: 11px 30px; background: #001b6c; color: #ffffff; }

.layer-close__button + .layer-close__button { margin: 0 0 0 10px; }

.layer-built { margin: 20px 0 0; }

.layer-built__title { border-bottom: 1px solid #444444; font-weight: 700; font-size: 18px; }

.curtain { position: fixed; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

@media only screen and (max-width: 430px) { .layer-close { font-size: 0; }
  .layer-close__button { display: inline-block; float: none; width: calc((100% / 3) - 20px); margin: 0 10px; padding: 10px 0; font-size: 14px; }
  .layer-close__button + .layer-close__button { margin: 0 10px; } }

#home { width: 100%; margin: 0; background-image: url("../../img/etc/background.jpg"); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center center; }

.main__wrap { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 360px; }

.main__title { position: relative; margin: 0 0 15px; padding: 0 0 15px; font-weight: 400; font-size: 25px; }

.main__title::after { position: absolute; left: 10%; right: 10%; bottom: 0; content: ''; border-bottom: 3px solid #000000; }

.main__title span { font-weight: 600; font-size: 34px; }

.main__reference { font-size: 14px; text-align: center; }

@media only screen and (max-width: 425px) { .main__wrap { width: 270px; padding: 0 0 20px; }
  .main__title { font-size: 18px; line-height: 1.2; }
  .main__title span { font-size: 26px; } }

#contact { background: #f1f1f1; }

.info-call { margin: 0 0 50px; text-align: center; }

.info-list { max-width: 700px; width: 100%; margin: 0 auto; font-size: 0; text-align: center; }

.info-list::after { display: block; content: ''; clear: both; }

.info-list__item { display: inline-block; width: 200px; padding: 76px 0; border: 1px solid #000; border-radius: 50%; font-size: 16px; }

.info-list__item span { display: block; margin: 0 0 10px; }

.info-list__item a { font-size: 13px; }

.info-list__item a:hover { color: blue; }

.info-list__item + .info-list__item { margin: 0 0 0 20px; }

.resume__wrap { margin: 0 0 50px; text-align: center; }

.resume__wrap a { display: inline-block; padding: 10px 20px; border: 1px solid #000000; -webkit-transition: border 0.5s, color 0.5s; transition: border 0.5s, color 0.5s; }

.resume__wrap a:hover { border-color: blue; color: blue; }

@media only screen and (max-width: 767px) { .info-list__item { display: block; margin: 0 auto; }
  .info-list__item + .info-list__item { margin: 10px auto 0; } }
