@font-face {
    font-family: "Noto Sans KR";
    src: url("../font/NotoSansKR-Regular.otf");
    font-weight: 300;
    letter-spacing: 0;
}

@font-face {
    font-family: "evrmt";
    src: url("../font/EnvironmentB.woff2");
    font-weight: normal;
    line-height: 1.1;
    letter-spacing: -.025em;
}

@font-face {
    font-family: "poppins";
    src: url("../font/Poppins-Bold.ttf");
    font-weight: 700;
    letter-spacing: 0;
}

@keyframes leadArrow {
    0% {bottom: 40px;}
    50% {bottom: 50px;}
    100% {bottom: 40px;}
}

/* @keyframes waveDrift {
    0%{margin-left: 0;}
    100%{margin-left: -1600px;}
}

@keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  } */

.wrap {width: 100%; height: 100%; font-family: "Noto Sans KR";}

.section {position: relative; width: 100%;}

.section1 {height: 100%; overflow: hidden; background: #ffcc00;}
.section1 .txtBox {position: absolute; top: 30%; left: 10%; font-family: "evrmt"; color: #ffffff; transform: translate(10%, -30%);}
.section1 .txtBox .txt1 {font-size: 70px;}
.section1 .background1 {position: absolute; right: 0; bottom: 67px;}
.section1 .background2 {position: absolute; bottom: 0; width: 100%;}
.section1 .background2 .wave {position: absolute; top: -197px; width: 6400px; height: 198px; background: url("../img/wave.png") repeat-x;  animation: waveDrift 7s infinite cubic-bezier( 0.36, 0.45, 0.63, 0.53); transform: translate3d(0, 0, 0);}
.section1 .background2 .wave:nth-of-type(2) {top: -175px; animation: waveDrift 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 5s ease -1.25s infinite;}
.section1 .leadArrow {position: absolute; left: 50%; bottom: 40px; transform: translateX(-50%); animation: leadArrow 1s linear infinite;}

.section2 {padding: 100px 60px 0;}
.section2 .txtBox {font-size: 35px;}