@charset "UTF-8";

@import 'common/variables';
@import 'common/mixins';
@import 'common/placeholders';
@import 'common/base';
// https://webclub.tistory.com/518 참고 사이트
// 3중첩 넘어가지않게
// 네이밍 _ (Underbar)로 사용하는 것을 권장

@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

@include fontface('Noto Sans KR', 'NotoSansKR-Regular.otf', '300'); // 기본
@include fontface('evrmt', 'EnvironmentB.woff2', 'normal'); // 한글
@include fontface('poppins', 'Poppins-Bold.ttf', '700'); // 영어, 한글 x
@include fontface('Roboto', 'Roboto-Regular.ttf', '400'); // 영어, 한글 x
@include fontface('Montserrat', 'Montserrat-Medium.ttf', '700'); // 영어, 한글 x

/* Keyframes */
/**************************/
@include keyframes('Shake') {
    0% {
        transform: translateZ(0);
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate(-5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate(3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate(-3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate(2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate(-1deg);
    }
    100% {
        transform: translateZ(0);
    }
}

@include keyframes('SmoothHeader') {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Reset */
/**************************/
#wrap {
    h1,
    h2,
    h3 {
        font-family: 'Roboto';
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        color: #000000;
    }

    h3 {
        font-size: 40px;
    }

    p {
        font-family: '-apple-system', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    }
}

/* Section - Parallax */
/**************************/
.parallax {
    &__item {
        &--one {
            overflow: hidden;
            position: relative;
            width: 100%;
            padding: 200px 0;
            background: {
                image: url(../img/a.jpg);
                attachment: fixed;
                size: cover;
                repeat: no-repeat;
                position: top center;
            }
            -moz-background-size: cover;
            -webkit-background-size: cover;

            h3 {
                animation: Shake 1.5s;
            }
        }

        &--two {
            overflow: hidden;
            position: relative;
            width: 100%;
            padding: 200px 0;
            background: {
                image: url(https://images.unsplash.com/photo-1432163230927-a32e4fd5a326?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
                attachment: fixed;
                size: cover;
                repeat: no-repeat;
                position: center center;
            }
            -moz-background-size: cover;
            -webkit-background-size: cover;
        }

        &--three {
            overflow: hidden;
            position: relative;
            width: 100%;
            padding: 200px 0;
            background: {
                image: url(https://images.unsplash.com/photo-1440688807730-73e4e2169fb8?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=);
                attachment: fixed;
                size: cover;
                repeat: no-repeat;
                position: center center;
            }
            -moz-background-size: cover;
            -webkit-background-size: cover;
        }
    }
}

/* Section - Block */
/**************************/
.block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 16px;
    text-align: justify;
    background: #ffffff;

    &__about {
        &::after {
            display: block;
            clear: both;
            content: '';
            height: 0;
            visibility: hidden;
        }

        &--avatar {
            float: left;
            width: 300px;
            margin: 0 15px 0 0;

            img {
                width: 100%;
            }
        }

        &--left {
            float: left;
            width: 20%;
        }

        &--right {
            float: left;
            width: 80%;
        }
    }
}

/* Section - Header */
/**************************/
.header {
    z-index: 10;
    padding: 60px 0;
    background: #ffffff;

    &.sticky {
        padding: 0;
        animation: SmoothHeader 0.7s forwards;
    }

    &.sticky &__list {
        display: block;
    }

    &.sticky &__title {
        display: none;
    }

    &__list {
        display: none;
        font-size: 0;
        line-height: 0;

        &--item {
            display: inline-block;
            width: 25%;
            height: 56px;
            font-size: 16px;
            line-height: 52px;
            text-align: center;
            cursor: pointer;

            &:hover,
            &.active {
                border-bottom: 3px solid pink;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;

                font: {
                    family: 'Montserrat';
                    size: 20px;
                }
            }
        }
    }
}

/* Section - Footer */
/**************************/
.footer {
    padding: 60px 20px;
    color: #ffffff;
    background: #010e39;

    &::after {
        display: block;
        clear: both;
        content: '';
        height: 0;
        visibility: hidden;
    }

    &__txt {
        margin: 0 0 10px;

        &--email {
            margin: 0 0 25px;
        }
    }

    &__link {
        display: block;
        float: left;
        color: #ffffff !important;

        & + & {
            margin: 0 0 0 20px;
        }

        i {
            font-size: 24px;
        }
    }
}

/* Utils - Project */
/**************************/
.project-controls {
    margin: 0 0 20px;

    &::after {
        display: block;
        clear: both;
        content: '';
        height: 0;
        visibility: hidden;
    }

    &__item {
        float: left;
        width: 25%;
        height: 30px;
        text-align: center;
        cursor: pointer;

        &.active {
            border-bottom: 2px solid #010e39;
        }
    }
}

.project-container {
    text-align: center;

    &::after {
        display: block;
        clear: both;
        content: '';
        height: 0;
        visibility: hidden;
    }

    &__item {
        display: inline-block;
        position: relative;
        width: 350px;
        height: 300px;
        margin: 0 0 10px;
        text-align: center;
        background: #ccc;
        cursor: pointer;

        &.active {
            border-bottom: 2px solid #010e39;
        }

        &:hover &--wrap {
            visibility: visible;
            opacity: 1;
        }

        &--wrap {
            visibility: hidden;
            height: 100%;
            opacity: 0;
            background: #ffffff;
            transition: opacity 0.4s, visibility 0.4s;
        }

        &--wrap:hover &--title {
            top: 20%;
        }

        &--wrap:hover &--btn {
            bottom: 20%;
        }

        &--title {
            position: absolute;
            top: 0;
            left: 50%;
            transition: top 0.3s;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
        }

        &--btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 160px;
            height: 35px;
            border: 2px solid #000000;
            line-height: 30px;
            transition: bottom 0.3s, background 0.5s;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);

            &:hover {
                background: #010e39;
                color: #ffffff;
            }
        }
    }
}

.layer_wrap {
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    .layer {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1010;
        max-width: 700px;
        width: 90%;
        background: #ffffff;
        transform: translate(-50%, -50%);
    }

    .layer_slide {
        position: relative;

        // .slick-slide {
        //     margin: 0;
        // }

        ul {
            width: 100%;
        }

        img {
            max-width: 700px;
            width: 100%;
            height: 450px;
        }
    }

    .arrow_slider {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;

        i {
            display: block;
            padding: 10px 20px;
            font-size: 33px;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            cursor: pointer;
        }

        .prev {
            float: left;
        }

        .next {
            float: right;
        }
    }

    .layer_info {
        padding: 35px 60px 90px 25px;
        border-top: 3px solid #1b242f;
        color: #444;
    }

    .layer_title {
        padding: 0 0 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 29px;
        line-height: 29px;
    }

    .layer_content {
        padding: 15px 0 0;
        font-size: 15px;
        line-height: 24px;
    }

    .layer_close {
        position: fixed;
        left: 25px;
        bottom: 10px;
        width: 90%;

        a {
            float: left;
            height: 100%;
            padding: 11px 30px;
            background: #001b6c;
            color: #ffffff;
        }

        button {
            float: right;
            padding: 8px 0 0;

            i {
                font-size: 33px;
            }
        }
    }
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
    .block {
        max-width: 870px;
        padding: 40px;
    }
}
@media screen and (max-width: 767px) {
    #wrap h3 {
        font-size: 30px;
    }

    .block {
        max-width: 670px;
        padding: 30px;
    }

    .parallax {
        &__item--one,
        &__item--two,
        &__item--three {
            padding: 100px 0;
        }
    }
}
@media screen and (max-width: 479px) {
    .block {
        max-width: 420px;
        padding: 30px 15px;
    }
}
