@charset "UTF-8";

@import "common/variables";
@import "common/mixins";
@import "common/placeholders";
@import "common/base";
// https://webclub.tistory.com/518 참고 사이트
// 3중첩 넘어가지않게
// 네이밍 _ (Underbar)로 사용하는 것을 권장

@import url("https://fonts.googleapis.com/css?family=Lobster+Two");

@include fontface("Noto Sans KR", "NotoSansKR-Regular.otf", "300"); // 기본
@include fontface("evrmt", "EnvironmentB.woff2", "normal"); // 한글
@include fontface("poppins", "Poppins-Bold.ttf", "700"); // 영어, 한글 x
@include fontface("Roboto", "Roboto-Regular.ttf", "400"); // 영어, 한글 x
@include fontface("Montserrat", "Montserrat-Medium.ttf", "700"); // 영어, 한글 x

@include keyframes("leadArrow") {
    0% {
        bottom: 40px;
    }
    50% {
        bottom: 50px;
    }
    100% {
        bottom: 40px;
    }
}

@include keyframes("waveDrift") {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@include keyframes("swell") {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}

@mixin nthFill($name, $width) {
    @include keyframes($name) {
        from {
            width: 0;
        }

        to {
            width: percentage($width/100);
        }
    }
}

.parallax-slider {
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        font: 700 100px/1.1 "Montserrat", "sans-serif";
        animation: bounce 2s infinite;
    }

    .background {
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }
}

.swiper-container {
    padding: 10px 0;
}

.wrap {
    width: 100%;
    height: 100%;

    & * {
        font-family: "Noto Sans KR";
    }

    .nav_box {
        z-index: 999999;
        height: 55px;
        background: #113448;

        > ul {
            height: 100%;
            font-size: 0;
            line-height: 0;

            li {
                display: inline-block;
                width: 25%;
                height: 100%;
                font: 400 16px/55px "Montserrat", "sans-self";
                text-align: center;
                cursor: pointer;
                background-image: linear-gradient(to top, #14bf98 50%, transparent 50%); // 아래에서 위로
                background-size: 100% 200%;
                transition: background-position 200ms ease-in-out;

                a {
                    color: #ffffff;
                }

                &:hover {
                    background-position: bottom;
                    // border-bottom: 5px solid #14bf98;
                }
            }
        }
    }

    .box {
        // border: 1px solid;

        .section_title {
            padding: 0 0 8px;
            font: 500 13px/1.1 "Montserrat", "sans-serif";
            color: #14bf98;
        }

        .title {
            padding: 0 0 20px;
            font: 700 28px/1.1 "Montserrat", "sans-serif";
        }
    }

    .section1 {
        .about {
            .myself_box {
                display: flex;
                padding: 110px 0 48px;

                .myself_img {
                    width: 45%;

                    > img {
                        width: 100%;
                        border-radius: 5px;
                    }
                }

                .myself_txt {
                    width: 55%;
                    padding: 0 0 0 60px;

                    > p {
                        margin: 0 0 16px;
                        color: #787976;
                    }
                }
            }

            .additional_box {
                display: flex;
                justify-content: space-around;
                padding: 48px 0 46px;

                .hexagon {
                    width: 96px;
                    height: 96px;
                    margin: 0 auto 16px;
                    background: url(../img/hexagon-green.svg) center center no-repeat;

                    i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        font-size: 32px;
                        color: #ffffff;
                        transform: translate(-50%, -50%);
                    }
                }

                .card_body {
                    p {
                        color: #787976;
                    }

                    .card_title {
                        margin: 0 0 10px;
                        font: 700 20px/1.1 "Montserrat", "sans-serif";
                        color: #484a46;
                    }
                }
            }
        }

        .skill {
            padding: 60px 0;
            background: #fbfbfb;

            .area_box {
                display: flex;

                .area {
                    width: 50%;
                    height: 576px;
                }
            }

            .area1 {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .area2 {
                padding: 0 35px;
            }

            .area_nav {
                width: 100%;
                margin: 0 0 34px;
                padding: 110px 0 0;

                ul {
                    display: flex;
                    justify-content: space-around;

                    .nav_link {
                        color: #c1cace;
                        font: 700 22px/1.1 "Montserrat", "sans-serif";
                        cursor: pointer;
                        transition: color 500ms;

                        &:hover {
                            color: #14bf98;
                        }

                        &.active {
                            color: #14bf98;
                        }

                        i {
                            padding: 0 5px 0 0;
                        }
                    }
                }
            }

            .side_area_box {
                .side_area {
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                .side_title {
                    margin: 0 0 8px;
                    color: #484a46;
                    font: 700 20px/1.1 "Montserrat", "sans-serif";
                }

                .chart_box {
                    .chart_title {
                        margin: 0 0 4px;
                        font: 600 14px/1.1 "Roboto", "sans-serif";
                    }

                    .chart_bar {
                        width: 100%;
                        height: 22px;
                        margin: 0 0 18px;
                        border-radius: 3px;
                        background: #eaeaea;

                        span {
                            display: block;
                            height: 100%;
                            background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
                        }
                    }

                    .skillIcon {
                        width: 60px;
                    }
                }

                .side_area_1 {
                    .chart_box {
                        &:nth-child(2) {
                            .chart_bar span.animation {
                                @include nthFill("chartFill1", 60);
                                // width: 60%;
                                animation: chartFill1 2s forwards;
                            }
                        }

                        &:nth-child(3) {
                            .chart_bar span.animation {
                                @include nthFill("chartFill2", 40);
                                // width: 60%;
                                animation: chartFill2 2s forwards;
                            }
                        }
                    }
                }
            }
        }

        .project {
            padding: 104px 0 112px;

            .box_title {
                text-align: center;
            }

            .project_card {
                width: 340px;
                height: 391px;
                background: #f6f6f6;

                .card_img > img {
                    width: 100%;
                }

                .txt_box {
                    padding: 10px 44px;
                }
                .sub_title {
                    font-size: 20px;
                }
            }

            .project_nav {
                margin: 0 0 30px;

                ul {
                    display: flex;
                    justify-content: center;
                    margin: 0 auto;

                    li {
                        padding: 5px 22px;
                        font: 700 12px/1.1 "Montserrat", "sans-serif";
                        background: #f1f4f7;
                        color: #7b7e85;
                        cursor: pointer;
                        transition: background 500ms;

                        &:hover,
                        &.is_checked {
                            color: #ffffff;
                            background: #14bf98;
                        }
                        & + li {
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }
    }

    .section2 {
        .call {
            padding: 112px 0 70px;
            background: #153e52;
        }
    }
}

@include media(1180px) {
    .box {
        padding: 0 16px;
    }

    .box.skill {
        padding: 0;
    }
}
