.header-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    padding: 20px 0;
    background: #ffffff;
    text-align: center;
    box-shadow: 0px 1px 4px 0px grey;

    &::after {
        display: block;
        content: '';
        clear: both;
    }

    &__list {
        float: left;
        width: 100%;
    }
}

.header-item {
    float: left;
    width: 20%;

    a {
        &.pc {
            display: inline-block !important;
        }
    }

    &__name {
        &:hover {
            border-bottom: 2px solid;
        }
    }

    img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .header-item {
        a {
            &.pc {
                display: none !important;
            }

            &.mobile {
                display: inline-block !important;
            }
        }
    }
}
