#home {
    width: 100%;
    margin: 0;

    background: {
        image: url('../../img/etc/background.jpg');
        attachment: fixed;
        size: cover;
        repeat: no-repeat;
        position: center center;
    }
}

.main {
    &__wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 360px;
    }

    &__title {
        position: relative;
        margin: 0 0 15px;
        padding: 0 0 15px;
        font-weight: 400;
        font-size: 25px;

        &::after {
            position: absolute;
            left: 10%;
            right: 10%;
            bottom: 0;
            content: '';
            border-bottom: 3px solid #000000;
        }

        span {
            font-weight: 600;
            font-size: 34px;
        }
    }

    &__reference {
        font-size: 14px;
        text-align: center;
    }
}

@media only screen and (max-width: 425px) {
    .main {
        &__wrap {
            width: 270px;
            padding: 0 0 20px;
        }

        &__title {
            font-size: 18px;
            line-height: 1.2;

            span {
                font-size: 26px;
            }
        }
    }
}
