.project-controls {
    max-width: 600px;
    margin: 0 auto 30px;
    font-size: 0;
    text-align: center;

    &::after {
        display: block;
        content: '';
        clear: both;
    }

    &__item {
        display: inline-block;
        width: 20%;
        padding: 5px 0;
        border: 1px solid;
        font-size: 16px;
        text-align: center;
        cursor: pointer;

        & + & {
            margin: 0 0 0 10px;
        }
    }
}

.project-list {
    font-size: 0;
    text-align: left;

    &::after {
        display: block;
        content: '';
        clear: both;
    }

    &__wrap {
        display: inline-block;
        position: relative;
        width: calc((100% / 3) - 20px);
        height: 320px;
        margin: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: rgba(0, 0, 0, 0.3);

        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
}

.project-item {
    &__background {
        width: 100%;
        height: 100%;
        background: url('../../img/project/portfolio.jpg') no-repeat center center;
        background-size: cover;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        font-size: 30px;
        color: #ffffff;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .project-list {
        &__wrap {
            width: calc((100% / 2) - 20px);
        }
    }
}

@media only screen and (max-width: 767px) {
    .project-controls {
        &__item {
            width: calc(50% - 10px);

            & + & {
                margin: 0 0 10px 10px;
            }

            &:nth-child(3) {
                margin: 0 0 10px 0;
            }
        }
    }

    .project-list {
        &__wrap {
            width: calc(100% - 20px);
        }
    }
}
